body {
    align-content: center;
text-align: -webkit-center;
font-family: Arial;
}

.container {
    padding-top: 1em;
    width: 80%;
    align-content: center;
    background-color: grey;
}

.post {
    color: blue;
}