body {
    background-color: darkgrey;
    align-content: center;
    text-align: -webkit-center;
    font-family: sans-serif;
}

.container {
    margin-top: 1px;
    padding-top: 1px;
    width: 80%;
    align-content: center;
    background-color:rgba(220, 220, 220, 0.726);
    border: 1px solid white;
    border-radius: 5px;
}

.cabecera {
    display: flex;
    height: 50px;
    margin: 1px;
    text-align: left;
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 0px, 30px grey;
    padding: 0.5em;
}

.cabecera_dragon {
    display: flex;
    margin-right: 10px;
}

.cabecera_dragon img {
    align-self: center;
    width: 50px;
    height: 50px;
}

.cabecera_title {
align-self: center;
display: -webkit-inline-box;
-webkit-box-align: center;
}

.cabecera_title h1 {
    margin: 1px;
    font-size: 1.5em;
    margin-right: 40px;
}

.post {
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1.5em;
    color: darkblue;
    text-align: justify;
}

.post p {
    font-size: 1.5em;
    color: black;
}

.footer {
    height: 40px;
    margin: 0px;
    background-color:blue ;
    color: white;
}

.footer h1 {
    height: 40px;
    margin: 0;
    padding: 5px;
    font-size: 24px;
}